.place {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px; /* 리뷰 간의 간격 */
    background-color: #fff;
    border-radius: 10px; /* 살짝 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */

}
.main-details {
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: white; /* 배경색 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
