.store-name-box {
    max-width: 90%; /* 박스의 최대 너비를 카드 너비의 90%로 설정 */
    font-size: 16px; /* 적절한 글자 크기 설정 */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; /* 모서리를 둥글게 설정 */
    padding: 5px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    overflow-wrap: break-word; /* 긴 단어나 주소가 박스 밖으로 넘어가지 않도록 설정 */
    word-wrap: break-word; /* 구형 브라우저 지원을 위해 추가 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    margin: 0 auto; /* 수평 중앙 정렬 */
    white-space: normal; /* 줄바꿈 허용 */
    /*border: 1px solid #ccc;*/
}

.myPage-container {
    max-width: 800px;
    max-height: 500px; /* 컨테이너의 최대 높이 설정 */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    text-align: left;
}