.star {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
}

.star.gold {
    color: gold;
}

.star:hover,
.star:hover {
    color: gold;
}

.textarea {
    width: 100%;
    height: auto;
}

.review-box {
    width: 500px;
    /*min-width: 500px;*/
    margin : 0 auto;
    padding: 30px;
}

.image-preview img {
    width: 100px; /* 이미지 크기 조정 */
    height: 100px;
    margin: 5px;
    object-fit: cover; /* 이미지가 너무 크거나 작을 때 콘텐츠 비율을 유지 */
}