.visitBox {
    text-align: center;
    margin-top: 20px;
}

.visitBox h2 {
    color: #9b6e6e;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.visitBox button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.visitBox button:hover {
    background-color: #2980b9;
}

/* Visit.css */

/* 모달 스타일 */
.visit-modal {
    display: block;
    /* 모달이 보이도록 설정 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 58, 58, 0.5);
    /* 배경색과 투명도 조절 */
}

.visit-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.visit-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.visit-close:hover {
    color: #333;
}

/* 모달 내용 스타일 */
.visit-modal p {
    font-size: 16px;
    margin-bottom: 10px;
}

.visitText {
    font-size: 18px;
    color: #333;
    /* 텍스트 색상 조절 */
    margin-top: 10px;
    font-weight: bold;
}

.smileImg {
    width: 5%;
}