
body {
  font-family: 'Pretendard', 'Noto Sans KR', Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  /* 다른 스타일 속성들 */
}

.App {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  width: auto;
  position: relative;
  min-height: 100%;
  box-shadow: 0 0 20px #0000000d;
}


