#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;

    /* margin-bottom: 20px */
}

.headerBox {
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
    /* margin-bottom: 20px; */
}

/* 각각의 div는 동일한 비율로 넓어지게 설정 */
.headerBox>.LinkBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeNav {
    cursor: pointer;
    border: none;
    height: 3.8vh;
    background: url(https://cdn-icons-png.flaticon.com/128/3405/3405771.png) 50% 50% no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 1vh;
    /* 텍스트를 화면 밖으로 숨김 */
    text-indent: -999em;
    overflow: hidden;
}

.mapNav {
    cursor: pointer;
    border: none;
    height: 3.8vh;
    background: url(https://cdn-icons-png.flaticon.com/128/447/447031.png) 50% 50% no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 1vh;
    /* 텍스트를 화면 밖으로 숨김 */
    text-indent: -999em;
    overflow: hidden;
}

.logoutNav {
    cursor: pointer;
    border: none;
    height: 3.8vh;
    background: url(https://cdn-icons-png.flaticon.com/128/3889/3889524.png) 50% 50% no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-top: 1vh;
    /* 텍스트를 화면 밖으로 숨김 */
    text-indent: -999em;
    overflow: hidden;
}

.logoutModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.logoutModal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    width: 300px;
    text-align: center;
}

.logoutClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.logoutClose:hover,
.logoutClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logoutButton {

    border-radius: 5px;
    border: none;
    background: url(https://cdn-icons-png.flaticon.com/128/1828/1828479.png) 50% 50% no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 42px;
    /* 텍스트를 화면 밖으로 숨김 */
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    /* 초록색 배경 */
    color: white;
    /* 흰색 텍스트 */
    border: none;
    /* 테두리 없음 */
    padding: 20px;
    /* 내부 여백 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* 글꼴 크기 */
    margin: 4px 2px;
    transition-duration: 0.4s;
    /* 트랜지션 지속 시간 */
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #4CAF50;
    box-shadow: 2px 2px 2px;
    /* 배경이 흰색이 되도록 */
    color: black;
    /* 텍스트가 검정색이 되도록 */
    border: 1px solid #4CAF50;
    /* 테두리가 초록색으로 나타남 */
}